<div class='jumbotron'>
  <h1 ng-bind='app'></h1>
</div>
<div class='container'>
  <hr>
  <search-result user-name="{{ usuario.nome }}"></search-result>
  <hr>
  <button class='btn btn-success btn-block' ng-click='addContactBehave()' ng-if='!clickedContactButton'>Add Contact</button>
  <div ng-if='clickedContactButton'>
    <br>
    <input type='text' class='form-control' placeholder="Name" ng-model='contact.name'>
    <input type='text' class='form-control' placeholder="Phone" ng-model='contact.phone'>
    <input type='text' class='form-control' placeholder="Address" ng-model='contact.address'>
    <button class='btn btn-success btn-block' ng-click='submit(contact)'>Submit</button>
    <button class='btn btn-danger btn-block' ng-click='addContactBehave()'>Cancel</button>
  </div>
  <hr>
  <input type='text' class='form-control' placeholder="Search..." ng-model='searching'>
  <hr>
  <table class='table table-striped'>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
    <tr ng-repeat='contact in contacts | filter: searching'>
      <td><input type="checkbox" ng-model="contact.selected"></td>
      <td>{{ contact.name}}</td>
      <td>{{ contact.phone}}</td>
      <td>{{ contact.address}}</td>
    </tr>
  </table>
  <hr>
  <button class='btn btn-danger btn-block' ng-click='deleteContacts(contacts)'>Delete Contact(s)</button>
</div>